<footer class="footer">
  <div class="footer__container">
    <p class="footer__copy">&copy; 2026 Film Collection</p>
    <div class="footer__author">
      Developed by
      <a
        href="https://github.com/Vitiok2021"
        target="_blank"
        rel="noopener noreferrer"
        class="footer__link"
        >Vitiok2021</a
      >
    </div>
    <div class="footer__school">
      <a href="https://rs.school/" target="_blank" rel="noopener noreferrer"> RS School </a>
    </div>
  </div>
</footer>
