.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  transition: box-shadow 0.3s ease;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 10px 14px rgba(0, 0, 0, 0.25);
    }
  }
  &__poster {
    aspect-ratio: 2 / 3;
    background-color: #f0f0f0;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      transition: transform 0.3s ease 0s;
    }
    @media (any-hover: hover) {
      img {
        &:hover {
          transform: scale(1.01);
        }
      }
    }
  }
  &__body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__title {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.2;
    color: #333;
    display: -webkit-box;

    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__year,
  &__genre {
    font-size: 0.9rem;
    color: #666;
  }
  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__rating {
    font-weight: 600;
    color: #e67e22;

    &::before {
      content: '★ ';
    }
  }
  &__fav {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        color: red;
      }
    }
  }
}
.card__fav.active {
  color: red;
}
